header{
    display: flex;
}

header .header{
    box-sizing: border-box;    
    width: 0;
    flex-grow: 1;
}

header .header ul{
    display: flex;
}

header .header ul{
    justify-content: start;
}

header .header ul li{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

header .header ul li a{
    text-decoration: none;
    color: black;
}


header .logo{
    text-align: center;
}


header .logo img{
    vertical-align: bottom;
}

header .login ul{
    justify-content: right;
}