@media screen and (min-width: 768px) {

    .slideshow .picture {
        position: absolute;
        right: 2%;
        width: 48%;
    }

    .slideshow .box-content {
        position: absolute;
        left: 10%;
        width: 40%;
        top: 30%;
    }

    .slideshow .box-content .title {
        font-size: 60px;
    }

    .info-items .row {
        display: flex;

    }

    .product .row .col {
        width: 33.333333%;
    }

    .video-items .row {
        display: flex;

    }

    .video-items .row .col {
        width: 50%;
    }

}